<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ece4564.ridesharevt"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_laucher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:uiOptions="splitActionBarWhenNarrow" >
        
         <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="ece4564.ridesharevt.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
                <activity
            android:name="Login"
            android:label="@string/activity_profile"
            android:parentActivityName="ece4564.ridesharevt..MainActivity" >

            <!-- To support below API Level 14 -->
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity android:name="MainActivity" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="ece4564.ridesharevt.UserProfile"
            android:label="@string/activity_profile"
            android:parentActivityName="ece4564.ridesharevt..MainActivity" >

            <!-- To support below API Level 14 -->
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="ece4564.ridesharevt.ChatActivity"
            android:label="@string/activity_profile"
            android:parentActivityName="ece4564.ridesharevt..MainActivity" >

            <!-- To support below API Level 14 -->
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="ece4564.ridesharevt.Driver"
            android:label="@string/activity_profile"
            android:parentActivityName="ece4564.ridesharevt..MainActivity" >

            <!-- To support below API Level 14 -->
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>

        <activity
            android:name="ece4564.ridesharevt.NewRideActivity"
            android:label="@string/activity_profile"
            android:parentActivityName="ece4564.ridesharevt..MainActivity" >

            <!-- To support below API Level 14 -->
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="ece4564.ridesharevt.FinalStop"
            android:label="@string/activity_profile"
            android:parentActivityName="ece4564.ridesharevt..MainActivity" >

            <!-- To support below API Level 14 -->
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="ece4564.ridesharevt.ListOfDriver"
            android:label="@string/activity_profile"
            android:parentActivityName="ece4564.ridesharevt..MainActivity" >

            <!-- To support below API Level 14 -->
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
    </application>

</manifest>